@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
    --color-primary: #007bff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-secondary: #d1d5dc;
    --color-error: #dc2626;
    --text-base: 15px;
    --height-input: 40px;
    --breakpoint-sm: 475px;
}

@layer base {
    html, body {
        @apply text-black dark:text-white dark:bg-black m-0 w-full h-full overflow-hidden text-base;
    }

    #root {
        @apply w-full h-full;
    }

    h1 {
        @apply text-3xl font-bold text-primary;
    }

    h2 {
        @apply text-lg font-bold;
    }

    hr {
        @apply w-full h-px text-primary
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none m-0;
    }

    button {
       @apply p-2 font-semibold bg-primary text-white rounded-sm w-full cursor-pointer outline-0 transition-opacity;
       @apply hover:opacity-75;
       @apply focus-visible:bg-primary/80 focus-visible:ring-1 focus-visible:ring-black dark:focus-visible:ring-white;
    }

    label {
        @apply flex flex-col gap-2 w-full max-w-sm;
    }

    a {
        @apply text-primary font-bold cursor-pointer transition-opacity hover:opacity-80;
    }
}

@layer components {
    .loader {
        @apply border-primary border-t-transparent rounded-full animate-spin dark:border-t-transparent;
    }

    .loader-sm {
        @apply w-8 h-8 border-4
    }

    .loader-md {
        @apply w-16 h-16 border-8
    }

    .Toastify__toast {
        @apply !bg-secondary !text-primary dark:!bg-primary dark:!text-secondary font-bold;
    }

    .Toastify__toast-icon svg {
        @apply fill-primary dark:fill-secondary;
    }

    .ReactModal__Overlay {
        @apply !bg-transparent backdrop-blur-sm z-[9500];
    }

    .ReactModal__Content {
        @apply flex justify-center max-w-2xl m-auto w-[95%] self-center h-fit max-h-[85vh] sm:w-fit !bg-white dark:!bg-black !overflow-hidden !border-primary !top-0 !left-0 !right-0 !bottom-0;
    }

    .react-calendar  {
        @apply border bg-primary border-primary rounded-sm shadow-none;
    }

    .react-calendar__navigation {
        @apply bg-primary flex items-center justify-center rounded-t-sm p-2;

        button {
            @apply p-0 hover:opacity-75 border-none ring-0 transition-opacity;
        }
    }

    .react-calendar__navigation__label {
        @apply flex-none w-fit font-bold text-lg m-auto !grow-0;
    }

    .react-calendar__navigation__arrow {
        @apply flex items-center justify-center pb-1.5 w-8 h-8 text-3xl
    }

    .react-calendar__month-view__weekdays {
        @apply bg-white dark:bg-black text-primary p-2;
    }

    .react-calendar__month-view__weekdays__weekday {
        @apply font-bold text-center;

        abbr {
            @apply no-underline;
        }
    }

    .react-calendar__tile {
        @apply p-2 text-black dark:text-white bg-white dark:bg-black ring-0 border border-white dark:border-black rounded-none last:rounded-br-sm !overflow-visible nth-[7n+1]:nth-last-[-n+7]:rounded-bl-sm;
    }

    .react-calendar__tile--now {
        @apply  text-primary border-primary;
    }

    .react-calendar__tile--active {
        @apply bg-primary text-white border-primary;
    }
    
    .react-calendar__month-view__days__day--neighboringMonth {
        @apply opacity-75;
    }

    .react-tiny-popover-container {
        @apply max-w-sm bg-white dark:bg-black rounded-sm z-[9999];
    }

    .react-select__menu-portal {
        @apply !z-[9999];
    }

    .react-select--is-disabled {
        @apply opacity-50;
    }

    .react-select__control {
        @apply !cursor-pointer !min-h-input h-fit border rounded-sm border-primary p-2 bg-transparent;
    }
    
    .react-select__control--is-focused {
        @apply ring ring-primary;
    }

    .react-select__input {
        @apply border-none ring-0 h-full;
    }

    .react-select__value-container {
        @apply h-full gap-2;
    }

    .react-select__single-value {
        @apply text-black dark:text-white;
    }

    .react-select__indicator-separator {
        @apply hidden;
    }

    .react-select__indicator {
        @apply text-primary;
    }

    .react-select__menu {
        @apply border bg-white dark:bg-black border-primary rounded-sm mt-1;
    }

    .react-select__menu-list {
        @apply p-2; 
    }

    .react-select__clear-indicator {
        @apply hover:opacity-75;
    }

    .react-select__option {
        @apply !cursor-pointer p-2;
    }

    .react-select__option--is-focused {
        @apply bg-primary/50 text-white;
    }

    .react-select__option--is-selected {
        @apply bg-primary text-white;
    }

    .react-select__multi-value {
        @apply bg-primary px-1 text-white rounded gap-1 cursor-default;
    }

    .react-select__multi-value__label {
        @apply text-white;
    }

    .react-select__multi-value__remove {
        @apply text-white hover:opacity-75 cursor-pointer;

        svg {
            @apply w-4 h-4;
        }
    }
}

@Layer utilities {
    .link-button {
        @apply font-bold cursor-pointer transition-opacity w-auto hover:opacity-80;
    }

    .logo {
        @apply w-10 h-10 bg-no-repeat bg-contain bg-[url(/cool-cars-garage.svg)] dark:bg-[url(/cool-cars-garage-dark.svg)] opacity-100;
    }

    .invalid-input {
        @apply !border-error !ring-error;
    }

    .form-error {
        @apply text-error text-xs;
    }

    .non-relative-center {
        @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .overlay {
        @apply flex absolute top-0 left-0 w-full h-full rounded-md backdrop-blur-xs justify-center items-center z-[9999];
    }

    .scrollbar {
        @apply scrollbar scrollbar-track-transparent scrollbar-thumb-primary; 
    }
}