@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-secondary: #d1d5dc;
    --color-error: #dc2626;
}

@layer base {
    html, body {
        @apply text-primary dark:bg-[#1c1c1d] dark:text-secondary;
    }

    h1 {
        @apply text-3xl font-bold;
    }

    hr {
        @apply w-full h-px text-secondary
    }

    input {
        @apply p-2 border rounded-sm text-primary dark:text-secondary;
        @apply focus:outline-none focus:ring focus:ring-primary focus:border-primary dark:focus:ring-secondary dark:focus:border-secondary;
    }

    button {
       @apply p-2 font-semibold bg-primary text-secondary rounded-sm w-full dark:bg-secondary dark:text-primary cursor-pointer;
       @apply focus:outline-none focus:ring focus:ring-primary focus:border-primary dark:focus:ring-secondary dark:focus:border-secondary; 
    }

    label {
        @apply flex flex-col gap-2 w-full;
    }

    a {
        @apply text-primary dark:text-secondary opacity-70 hover:underline;
    }

    a.active {
        @apply  opacity-100;
    }
}

@layer components {
    .loader {
        @apply border-primary border-t-transparent rounded-full animate-spin dark:border-secondary dark:border-t-transparent;
    }

    .loader-sm {
        @apply w-8 h-8 border-4
    }

    .loader-md {
        @apply w-16 h-16 border-8
    }
}

@Layer utilities {
    .link-button {
        @apply text-primary dark:text-secondary opacity-70 hover:underline p-0 w-auto bg-transparent;
    }

    .logo {
        @apply w-10 h-10 bg-no-repeat bg-contain bg-[url(/cool-cars-garage.svg)] dark:bg-[url(/cool-cars-garage-dark.svg)] opacity-100;
    }

    .invalid-input {
        @apply border-error;
        @apply focus:ring-error focus:border-error;
    }

    .form-error {
        @apply text-error text-xs;
    }

    .fixed-center {
        @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .border {
        @apply border border-secondary dark:border-primary;
    }

    .overlay {
        @apply flex absolute top-0 left-0 w-full h-full backdrop-blur-xs justify-center items-center;
    }
}