on:
  push:
    branches:
      - main
    paths:
      - "packages/react/**"
      - "packages/shared/**"
      - ".github/workflows/deploy-react.yml"
name: Deploy React
jobs:
  deploy:
    name: Deploy React
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.0"

      - name: Build Project
        run: npm install && npm run build:react
        env:
          VITE_API_URL: https://api.cool-cars-garage.co.uk
          VITE_REPORTS_AUTH_URL: coolcarsreports://auth

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Sync Files
        run: rsync -avz --progress --delete --exclude='.deploy' -e "ssh -i ~/.ssh/id_ed25519" ./packages/react/dist/ ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:/cool-cars-garage/client/

      - name: Create deploy File
        run: echo "deploy_$(date +'%Y%m%d%H%M%S')" > .deploy

      - name: Update Deploy File
        run: rsync -avz --progress -e "ssh -i ~/.ssh/id_ed25519" .deploy ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:/cool-cars-garage/client/
