on:
  push:
    branches:
      - main
    paths:
      - "packages/express/**"
      - "packages/shared/**"
name: Deploy
jobs:
  deploy:
    name: Deploy Express
    runs-on: ubuntu-latest
    env:
      FIREBASE_PRIVATE_KEY: ${{ secrets.FIREBASE_PRIVATE_KEY }}
      IS_CI_DEPLOY: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.0"

      - name: Build Project
        run: npm install && npm run build:express

      - name: Sync Files
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519" --exclude 'node_modules' --exclude '.git' ./packages/express/dist/
