on:
  push:
    branches:
      - main
    paths:
      - "packages/express/**"
      - "packages/shared/**"
name: Deploy
jobs:
  deploy:
    name: Deploy Express
    runs-on: ubuntu-latest
    env:
      FIREBASE_PRIVATE_KEY: ${{ secrets.FIREBASE_PRIVATE_KEY }}
      IS_CI_DEPLOY: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.0"

      - name: Build Project
        run: npm install && npm run build:express

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Sync Files
        run: rsync -avz --progress --delete --exclude='.deploy' -e "ssh -i ~/.ssh/id_ed25519" ./dist/ ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:/cool-cars-garage/api/

      - name: Create deploy File
        run: echo "deploy_$(date +'%Y%m%d%H%M%S')" > .deploy

      - name: Update Deploy File
        run: rsync -avz --progress -e "ssh -i ~/.ssh/id_ed25519" .deploy ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:/cool-cars-garage/api/
